#mastodon
MASTODON_ENABLED=true
MASTODON_BASE_URL=https://botsin.space
MASTODON_ACCESS_TOKEN=""
#twitter
TWITTER_ENABLED=true
TWITTER_CONSUMER_KEY=""
TWITTER_CONSUMER_SECRET=""
TWITTER_ACCESS_TOKEN=""
TWITTER_ACCESS_TOKEN_SECRET=""
#other
QUOTES_FILE_PATH=/tmp/quotes.json


